<div *ngFor="let doc of eList">
  <nb-card>
    <nb-card-header>
      Document Title: {{doc._source.name}}
    </nb-card-header>

    <nb-card-body>
      <div class="row" *ngIf="doc.highlight; else elseHigh">
        <p #xx data-read="false" *ngFor="let text of doc.highlight.text" [innerHTML]="text">
        </p>
      </div>
      <ng-template #elseHigh>
      <div class="row">
        <p #xx data-read="false"  [innerHTML]="doc._source.text">
        </p>
      </div>
      </ng-template>
      <div class="row">
        <div class="col-lg-6">
          <button nbButton (click)="open(doc)">Read More</button>
          <button nbButton (click)="open2(download)">Download</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>