<div>
  <nb-card>
    <nb-card-header>E-Document Upload</nb-card-header>
    <form>
    <nb-card-body>
      <input type="file" class="file-input" #fileUpload [formControl]="fileUp">

      <div class="file-upload">
        <div class="cUpload">
          <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <nb-icon icon="cloud-upload-outline" pack="eva"></nb-icon>
          </button>
        </div>
        <div class="cUpload">
          {{fileSplit(fileUp.value) == '' ? "Please select a file to upload." : fileSplit(fileUp.value)}}
        </div>
      </div>
      <button (click)="onUpload(fileUpload)" nbButton status="primary" hero>
        UPLOAD
      </button>
    </nb-card-body>
  </form>
  </nb-card>
</div>

<label for="name">Name: </label>
<input id="name" type="text" [formControl]="nameForm">